
#titleES{
    font-size: 40px;
    color: rgb(0, 38, 255);
    font-weight: bold;
    text-shadow: 2px 2px #ffffff;
}

.links{
  font-weight: bold;
  font-size: 15px;
}

#classicformpage .view {
    background-image: url("../images/hacktonaWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
  }
  