
#titleES{
    font-size: 40px;
    color: rgb(0, 38, 255);
    font-weight: bold;
    text-shadow: 2px 2px #ffffff;
}

.links{
  font-weight: bold;
  font-size: 15px;
}

#classicformpage .view {
    background-image: url("../images/hacktonaWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
  }
  
  
  #classicformpage .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #classicformpage .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  #classicformpage label {
    color: #fff !important;
  }