#containerLogin{
    background-image: url("../images/fundoColorido.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}